/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

/* reset pag */
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* cores */
:root {
    --roxo: #50128f;
    --branco: #fff;
    --roxo2: #8e43b3;
    --azul: #0a0928;
    --preto: #000000;
    --cinza: #616161;
    --cinza2: #9e9e9e;
    --verde: #0dc50d;
    --fundo: #30134d;
    --fundo2: #073f07;
    --verde2: #177417;
    --vermelho: #c40808;
}