<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/clientes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Clientes</title>
</head>

<body>


    <header>
        <h1>Tabela de Clientes</h1>
    </header>

    <nav>
        <ul>
            <li>
                <a onclick="dash()" rec-ajax>
                    <i class="fa-solid fa-house"></i>
                    <span class="nav-item">Painel</span>
                </a>
            </li>
            <li>
                <a onclick="clientes()" rec-ajax>
                    <i class="fa-solid fa-user"></i>
                    <span class="nav-item">Clientes</span>
                </a>
            </li>
            <li>
                <a onclick="createcadastroCliente()" rec-ajax>
                    <i class="fa-regular fa-clipboard"></i>
                    <span class="nav-item">Cadastro</span>
                </a>
            </li>
            <li>
                <a onclick="servicos()" rec-ajax>
                    <i class="fa-solid fa-wrench"></i>
                    <span class="nav-item">Serviços</span>
                </a>
            </li>
            <li>
                <a onclick="trabalhadores()" rec-ajax>
                    <i class="fa-solid fa-briefcase"></i>
                    <span class="nav-item">Fundadores</span>
                </a>
            </li>
            <li class="Verde">
                <a onclick="verde()" rec-ajax>
                    <i class="fa-solid fa-tree" style="color: #0c972f;"></i>
                    <span class="nav-item">+Verde</span>
                </a>
            </li>
            <li class="sair">
                <a onclick="fechar()" rec-ajax>
                    <i class="fa-solid fa-power-off"></i>
                    <span class="nav-item">Sair</span>
                </a>
            </li>
        </ul>
        <div class="relogio">
            <h3 id="horas"></h3>
            <h3>:</h3>
            <h3 id="minutos"></h3>
        </div>
    </nav>
    
    <div id="mensagem"></div>
    <table id="frmCadastro">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Tipo</th>
                <th>Data de Entrada</th>
                <th>Data de Saida</th>
                <th>Responsavel</th>
                <th>Descrição</th>
                <th>Botões</th>
                <th><a onclick="atualizar()" id="refresh"><i class="fa-solid fa-arrows-rotate"></i></a></th>
            </tr>
        </thead>
        <tbody id="tabelaClientes"></tbody>
    </table>
</body>
<script>
    function atualizar() {
        window.location.reload();
    }
</script>
    <script src="../public/js/janela3/renderer.js"></script>
    <script src="../public/js/horas.js"></script>
</html>