<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/dash.css">
    <title>Financeiro</title>
</head>
<body id="dinheiro">
    <h1>Lucro Diário</h1>
    <form>
        <input type="text" id="inputField" placeholder="Digite o valor arrecadado" required>
        <button type="button" id="updateButton">Alterar Valor</button>
        <button type="button" id="addButton">Somar Valor</button>
        <h2>LUCRO TOTAL</h2>
        <br>
        <span id="display">0</span>
    </form>
    <script src="../public/js/janela1/rendererDR.js"></script>
</body>
</html>
